body {
    height: 100vh;
    padding: 10px;
    /* background-color: rgb(253, 254, 255); */
}

.form-control {
    border-radius: 0;
}



/* .container {
    width: 300px; // Adjust width as needed //
    margin-left: auto;
    margin-right: auto;
  }
   */

   .center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* align-items: center; */
    height: 80vh; /* Adjust the height as per your requirement */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid t#ccc;
   
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    /* display: none; */
}