.one{
    font-family: Impact;
}
.two{
    font-family: Segoe UI;
}
.three{
    font-family: Courier New;
}
.four{
    font-family: Franklin Gothic Medium; 
}
.five{
    font-family: Brush Script MT;
}
.six{
    font-family:  Trebuchet MS;
}